<section id="content" class="loaded catalog">
    <header>
        <a class="logo" href="/" id="link-to-home">
            <img src="/img/gregflix.png" alt="GregFlix logo"/>
        </a>
        <div class="user" id="user-profile"></div>
    </header>
    <section id="promoted">
        <video id="promoted-player" muted class="hidden"></video>
        <div id="promoted-content-poster"></div>
        <div id="promoted-content">
        </div>
    </section>
    <section id="movies">
        <h2>Movies</h2>
        <div id="movie-list"></div>
        <br style="clear:left" />
    </section>
</section>
